/* login page */
.label-login{
    font-family: Quicksand;
    font-weight: bold;
}
.log-m{
    padding-top: 12%;
}
.log-sub{
    text-align: center;
    font-family: Quicksand;
    font-weight: bold;
}

